<div class="category">
調理師試験過去問
</br>
<%= link_to "令和元年度10月", abc_problems_path,class: :past__btn  %></br>
<%= link_to "令和元年度12月", cdf_problems_path,class: :past__btn  %></br>
<%= link_to "令和2年度10月", fgh_problems_path,class: :past__btn  %></br>
</div>